#pragma once

// Copy this file to secrets.h and fill in your private data
// secrets.h is ignored by git

// SSH Key Configuration
// #define SSH_KEY_DATA  R"(
// -----BEGIN OPENSSH PRIVATE KEY-----
// ...
// -----END OPENSSH PRIVATE KEY-----
// )"

// #define SSH_USE_KEY   true
